<%- include('../partials/header') %>
<h1 class="mb-3">About Me</h1>
<p>I'm Roshaan Ghumman. BLABLABLABLA ADD MORE STUFF</p>
<ul>
  <li><strong>Skills:</strong> JavaScript, ETC ETC ETC </li>
  <li><strong>Interests:</strong> Valorant, ETC ETC ETC </li>
</ul>
<%- include('../partials/footer') %>
