<%- include('../partials/header') %>
<h1 class="mb-3">Contact Me</h1>
<p class="mb-4">Email is best.</p>
<form class="row g-3" method="post" action="#">
  <div class="col-md-6">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Your Name" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" placeholder="you@example.com" required>
  </div>
  <div class="col-12">
    <label class="form-label">Message</label>
    <textarea class="form-control" rows="4" placeholder="Say hello!"></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Send</button>
  </div>
</form>
<%- include('../partials/footer') %>
