<%- include('../partials/header') %>

<h1 class="mb-3">Projects</h1>
<div class="row g-3">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Project One</h5>
        <p class="card-text">BLA BLA BLA PLACEHOLDER</p>
        <a class="btn btn-primary btn-sm" href="#" target="_blank">View Project</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Project Two</h5>
        <p class="card-text">BLA BLA BLA PLACEHOLDER</p>
        <a class="btn btn-primary btn-sm" href="#" target="_blank">View Project</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
